<main class="fitnessformula-page">
  <%= render "pages/hero" %>
  <%= render "pages/personal_training" %>
  <%= render "pages/group_classes" %>
  <%= render "pages/nutrition_coaching" %>
  <%= render "pages/training_videos" %>
  <%= render "pages/client_results" %>
  <%= render "pages/booking" %>
</main>
